<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="dev.raghav.getcityinfo">

    <application
        android:allowBackup="true"
        android:icon="@drawable/lhhh"
        android:label="@string/app_name"
        android:roundIcon="@drawable/lhhh"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".RegistrationActivity"></activity>
        <activity android:name=".SviewActivity" />
        <activity android:name=".SearchDetails" />
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".Activity.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Activity.LoginActivity" />
    </application>

</manifest>